{% extends "template.html" %}
{% load static %}
{% block content %}

    <title>
        ForYouMel - Florist Design & Rental shop
    </title>

    <!-- Masthead-->
    <header class="masthead" style="background-image: url('{% static "img/contact/header3.jpg" %}')">
        <div class="container" style="height: 300px">
            <div class="masthead-subheading">Contact us</div>
            <div class="masthead-heading text-uppercase">Let's get in touch</div>

        </div>
    </header>

    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase" style="color: darkslategrey">Contact Us</h2>
                <h3 class="section-subheading text-muted">Let us know what you need!</h3>
            </div>
            <div>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/weixin-brands.svg' %}">Wechat: Foryoumel</p>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/contact/glyph-logo_May2016.png' %}">Instagram: <a href="https://www.instagram.com/foryouflowersmel/">For You Flowers Studio</a></p>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/contact/xiaohongshu.png' %}">小红书: For You Flowers 墨尔本</p>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/contact/email.png' %}">Email: foryoumel@outlook.com</p>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/contact/smartphone-call.png' %}">Phone: 0452026166</p>


            </div>
        </div>
    </section>


{% endblock %}