{% extends "template.html" %}
{% load static %}
{% block content %}

    <title>
        Our Serivices
    </title>

    <!-- Masthead-->
    <header class="masthead" style="background-image: url('{% static "img/service/header2.jpg" %}')">
        <div class="container" style="height: 300px">
            <div class="masthead-subheading">Our Services</div>
            <div class="masthead-heading text-uppercase">What we can do for you</div>
        </div>
    </header>
    <!-- Services-->
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6 mb-6">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/service/bouquet.jpg" %}" alt="">
                        </a>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 mb-6">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item text-center">
                        <h2 style="padding-top: 60px; padding-bottom: 60px">We pack from our design</h2>

                        <h5 style="line-height: 60px">We've prepared some design to suit your need whether that's for a
                            party or is for wedding. Check our <a href="../gallery">Gallery</a> to find out more</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-light" id="portfolio">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6 mb-6">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item text-center">
                        <h2 style="padding-top: 60px; padding-bottom: 60px">Or you can tell us how you like it</h2>

                        <h5 style="line-height: 60px">You can also <a href="../contact">Contact</a> us so we can come up
                            with
                            something you like it to be</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 mb-6">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/service/therapy2.jpg" %}" alt="">
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="page-section" id="contact" style="background-color: white">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase" style="color: darkslategrey">Contact Us</h2>
                <h3 class="section-subheading text-muted">Let us know what you need!</h3>
            </div>
            <div>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/weixin-brands.svg' %}">Wechat:
                    Foryoumel</p>
                <p style="color: darkslategrey"><img width="25px"
                                                     src="{% static 'img/contact/glyph-logo_May2016.png' %}">Instagram:
                    <a href="https://www.instagram.com/foryouflowersmel/">For You Flowers Studio</a></p>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/contact/xiaohongshu.png' %}">小红书:
                    For You Flowers 墨尔本</p>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/contact/email.png' %}">Email: <a
                        href="mailto:foryoumel@outlook.com">foryoumel@outlook.com</a></p>
                <p style="color: darkslategrey"><img width="25px" src="{% static 'img/contact/smartphone-call.png' %}">Phone:
                    0452026166</p>
            </div>
        </div>
    </section>
{% endblock %}