{% extends "template_cn.html" %}
{% load static %}
{% block content %}

    <title>
        ForYouMel - Florist Design & Rental shop
    </title>

    <!-- Masthead-->
    <header class="masthead" style="background-image: url('{% static "img/gallery/balloon header.jpg" %}')">
        <div class="container" style="height: 300px">
            <div class="masthead-subheading"></div>
            <div class="masthead-heading text-uppercase"></div>
        </div>
    </header>
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase" style="font-size: 3rem">气球</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="text-center" id="Helium Balloon">
                <h2 class="section-heading text-uppercase" >氦气球</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="text-center" id="Balloon Bundle">
                <h2 class="section-heading text-uppercase" >气球束</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="text-center" id="Balloon Set">
                <h2 class="section-heading text-uppercase" >全套气球</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="text-center" id="Balloon Decoretion">
                <h2 class="section-heading text-uppercase" >气球装饰</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="text-center" id="Balloon Garland">
                <h2 class="section-heading text-uppercase" >气球花环</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="text-center" id="Bubble Balloon">
                <h2 class="section-heading text-uppercase" >泡泡气球</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="text-center" id="Balloon Arch">
                <h2 class="section-heading text-uppercase" >气球拱门</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ballons-example.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/balloon2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>
    <nav style=';padding: 0px !important;margin-top: 8rem;width: auto' id="navbar-example3"
         class="position-fixed navbar navbar-light bg-light flex-column align-items-stretch p-3">
        {#        <a class="navbar-brand" href="#" style="font-size: 1.5rem"><b>Flower</b></a>#}
        <div class="dropdown show">
            <a style="background-color: black" class="btn btn-secondary dropdown-toggle" href="#" role="button"
               id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                气球分类
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#Helium Balloon">氦气球</a>
                <a class="dropdown-item" href="#Balloon Bundle">气球束</a>
                <a class="dropdown-item" href="#Balloon Set">全套气球</a>
                <a class="dropdown-item" href="#Balloon Decoretion">气球装饰</a>
                <a class="dropdown-item" href="#Balloon Garland">气球花环</a>
                <a class="dropdown-item" href="#Bubble Balloon">泡泡气球</a>
                <a class="dropdown-item" href="#Balloon Arch">气球拱门</a>

            </div>
        </div>
        {#        <nav class="nav nav-pills flex-column"#}
        {#             style='font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'>#}
        {##}
        {#            <a class="nav-link" href="#Rose" style="color: black;">Rose</a>#}
        {##}
        {#            <a class="nav-link" href="#lily" style="color: black">Lily</a>#}

        {#            <nav class="nav nav-pills flex-column">#}
        {#                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>#}
        {#                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>#}
        {#            </nav>#}
        {#        </nav>#}
    </nav>



{% endblock %}