{% extends "template_cn.html" %}
{% load static %}
{% block content %}



    <title>
        ForYouMel - Florist Design & Rental shop
    </title>

    <!-- Masthead-->
    <header class="masthead" style="background-image: url('{% static "img/gallery/flower header.jpg" %}')">
        <div class="container" style="height: 300px">
            <div class="masthead-subheading"></div>
            <div class="masthead-heading text-uppercase"></div>
        </div>
    </header>
    <!-- Portfolio Grid-->


    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase" style="font-size: 3rem">花卉</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="text-center" id="Rose">
                <h2 class="section-heading text-uppercase" >玫瑰花</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center" id="Gypsophila">
                <h2 class="section-heading text-uppercase" >石头花</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center" id="Tulip">
                <h2 class="section-heading text-uppercase" >郁金香</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center" id="Peony">
                <h2 class="section-heading text-uppercase" >牡丹花</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center" id="Preserved Flowers">
                <h2 class="section-heading text-uppercase" >保鲜花</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center" id="Strawberry flowers">
                <h2 class="section-heading text-uppercase" >草莓花</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center" id="Bouquets">
                <h2 class="section-heading text-uppercase" >花束</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center" id="Bloom Box">
                <h2 class="section-heading text-uppercase" >花盒</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center" id="Flower Basket">
                <h2 class="section-heading text-uppercase" >花篮</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" style="padding-left: 10px;padding-right: 10px">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/9dfdd8f4aec91d4937364c3c1980270.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/200216f84140cf4c7b82e8b000d308f.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/bouquet2.jpg" %}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-3" style="padding-left: 10px;padding-right: 10px">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static "img/gallery/ca2916d07835c6946d80dffa2486858.jpg" %}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bouquet 1</div>
                            <div class="portfolio-caption-subheading text-muted">$xxx</div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>
    <nav style=';padding: 0px !important;margin-top: 8rem;width: auto' id="navbar-example3"
         class="position-fixed navbar navbar-light bg-light flex-column align-items-stretch p-3">
        {#        <a class="navbar-brand" href="#" style="font-size: 1.5rem"><b>Flower</b></a>#}
        <div class="dropdown show">
            <a style="background-color: black" class="btn btn-secondary dropdown-toggle" href="#" role="button"
               id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                花卉分类
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#Rose">玫瑰</a>
                <a class="dropdown-item" href="#Gypsophila">石头花</a>
                <a class="dropdown-item" href="c#Tulip">郁金香</a>
                <a class="dropdown-item" href="#Peony">牡丹花</a>
                <a class="dropdown-item" href="#Preserved Flowers">保鲜花</a>
                <a class="dropdown-item" href="#Strawberry flowers">草莓花</a>
                <a class="dropdown-item" href="#Bouquets">花束</a>
                <a class="dropdown-item" href="#Bloom Box">花盒</a>
                <a class="dropdown-item" href="#Flower Basket">花篮</a>
            </div>
        </div>
        {#        <nav class="nav nav-pills flex-column"#}
        {#             style='font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'>#}
        {##}
        {#            <a class="nav-link" href="#Rose" style="color: black;">Rose</a>#}
        {##}
        {#            <a class="nav-link" href="#lily" style="color: black">Lily</a>#}

        {#            <nav class="nav nav-pills flex-column">#}
        {#                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>#}
        {#                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>#}
        {#            </nav>#}
        {#        </nav>#}
    </nav>


{% endblock %}